:root {
    --blue1: #c7e8fe;
    --blue2: #a6dcfe;
    --blue3: #71c6eb;

    --pokeball-size: 400px;
    --inner-pokeball-size: 350px;
    --pokeball-button-size: 130px;
    --pokeball-strip-proportion: 45%;

    --pokeball-pos-top: 160px;
    --pokeball-pos-right: 150px;

    --strip-height: 200px;
    --strip-border-size: 20px;

    --ellipse-width: 500px;
    --ellipse-height: 60px;
    --ellipse-border-size: 6px;
    --inner-ellipse-width: 400px;
    --inner-ellipse-height: 40px;
    --inner-ellipse-border-size: 3px;

    --pokemon-pokeball-distance: -101px;
    --pokemon-size: 600px;

    --ellipse-pokeball-distance: 405px;

    --drop-shadow: drop-shadow(8px 8px 0px rgba(0,0,0,0.6));

    --ellipse-pos-top: calc(var(--pokeball-pos-top) + var(--ellipse-pokeball-distance));
    --ellipse-pos-right: calc(var(--pokeball-pos-right) + (var(--pokeball-size) - (var(--ellipse-width) + 2 * var(--ellipse-border-size))) / 2);
}

@font-face {
   font-family: KarmaticArcade;
   src: url(fonts/ka1.ttf);
}

@font-face {
   font-family: PressStart2P;
   src: url(fonts/PressStart2P-Regular.ttf);
}

#logo {
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
}

body {
    text-align: center;
    color: white;
    font-family: PressStart2P;
    margin: 0;
    background-size: 40px 40px;
    background-color: #193b52;
    background-image:
    linear-gradient(to right, rgb(55, 172, 55) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(55, 172, 55) 1px, transparent 1px);
    background-position: 20px 20px;
    font-size: 8pt;
    line-height: 10pt;
}

hr {
    border: 1px solid white;
}

name {
    font-family: KarmaticArcade;
    font-size: 19pt;
    display: block;
    text-align: left;
    background: linear-gradient(135deg, var(--blue1) 0%, var(--blue1) 79.9%, rgba(255,255,255,0) 80%);
    width: 380px;
    padding-left: 80px;
    color: black;
    line-height: 80px;
    position: absolute;
    top: 58px;
    left: -20px;
    filter: var(--drop-shadow);
}

number {
    display: none;
}

number:before {
    content: "#";
}

form {
    display: none;
}

.formicon {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    padding-top: 3px;
    color: black;
}

#formicons {
    text-align: left;
    margin-left: 55px;
    top: 115px;
    position: absolute;
}

#formicons span:not(:last-child) {
    border-right: 2px solid black;
}

.type, #typeShadow0, #typeShadow1 {
    width: 40px;
    height: 40px;
    position: absolute;
}

#typeShadow0, #typeShadow1 {
    background: rgba(0,0,0,0.6);
    border-radius: 50%;
    z-index: -1;
}

#type0 {
    left: 368px;
    top: 63px;
}

#typeShadow0 {
    left: 373px;
    top: 68px;
}

#type1 {
    left: 339px;
    top: 95px;
}

#typeShadow1 {
    left: 344px;
    top: 100px;
}

evolution {
    font-family: PressStart2P;
    display: block;
    text-align: right;
    background: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, var(--blue1) 20.1%);
    width: 380px;
    padding-right: 20px;
    color: black;
    height: 80px;
    float: right;
    top: 58px;
    position: absolute;
    right: 0;
    filter: var(--drop-shadow);
}

form types, form species, form name {
    display: none;
}

abilities, hp, atk, def, spAtk, spDef, speed {
    display: none;
}

description, stats {
    background: var(--blue1);
    padding: 20px;
    border-radius: 0 20px 20px;
    color: black;
    border: 10px solid black;
    position: absolute;
    width: 200px;
    text-align: left;
    filter: var(--drop-shadow);
}

description {
    left: 320px;
    top: 222px;
}

description:before, stats:before {
    content: "Dex Entry";
    background: black;
    position: absolute;
    top: -26px;
    color: white;
    padding: 7px 40px 6px 10px;
    border-radius: 5px 30px 0 0;
    left: -10px;
}

stats {
    top: 222px;
    left: 30px;
}

stats:before {
    content: "Species Data";
}

#strip {
    height: var(--strip-height);
    width: 100%;
    background: var(--blue2);
    border-top: var(--strip-border-size) solid var(--blue1);
    border-bottom: var(--strip-border-size) solid var(--blue1);
    top: calc(var(--pokeball-pos-top) + (var(--pokeball-size) - (var(--strip-height) + 2 * var(--strip-border-size))) / 2);
    position: absolute;
    z-index: -2;
}

#pokeball0 {
    height: var(--pokeball-size);
    width: var(--pokeball-size);
    border-radius: 50%;
    background: var(--blue1);
    top: var(--pokeball-pos-top);
    right: var(--pokeball-pos-right);
    position: absolute;
}

#pokeball1 {
    height: var(--inner-pokeball-size);
    width: var(--inner-pokeball-size);
    border-radius: 50%;
    background: linear-gradient(180deg, var(--blue2) 0%, var(--blue2) var(--pokeball-strip-proportion), rgba(255,255,255,0) var(--pokeball-strip-proportion));
    top: calc(var(--pokeball-pos-top) + (var(--pokeball-size) - var(--inner-pokeball-size)) / 2);
    right: calc(var(--pokeball-pos-right) + (var(--pokeball-size) - var(--inner-pokeball-size)) / 2);
    position: absolute;
}

#pokeball2 {
    height: var(--inner-pokeball-size);
    width: var(--inner-pokeball-size);
    border-radius: 50%;
    background: linear-gradient(0deg, var(--blue2) 0%, var(--blue2) var(--pokeball-strip-proportion), rgba(255,255,255,0) var(--pokeball-strip-proportion));
    top: calc(var(--pokeball-pos-top) + (var(--pokeball-size) - var(--inner-pokeball-size)) / 2);
    right: calc(var(--pokeball-pos-right) + (var(--pokeball-size) - var(--inner-pokeball-size)) / 2);
    position: absolute;
}

#pokeball3 {
    height: var(--pokeball-button-size);
    width: var(--pokeball-button-size);
    border-radius: 50%;
    background: var(--blue1);
    top: calc(var(--pokeball-pos-top) + (var(--pokeball-size) - var(--pokeball-button-size)) / 2);
    right: calc(var(--pokeball-pos-right) + (var(--pokeball-size) - var(--pokeball-button-size)) / 2);
    position: absolute;
}

.pkmnImg {
    position: absolute;
    text-align: center;
    height: var(--pokemon-size);
    right: calc(var(--pokeball-pos-right) + (var(--pokeball-size) - var(--pokemon-size)) / 2);
    top: calc(var(--pokeball-pos-top) + var(--pokemon-pokeball-distance));
    z-index: 10;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    user-select: none;
    pointer-events: none;
    /*max-width: 100%;
    object-fit: contain;*/
}

#base0 {
    height: var(--ellipse-height);
    width: var(--ellipse-width);
    border-radius: 50%;
    background: var(--blue3);
    top: var(--ellipse-pos-top);
    right: var(--ellipse-pos-right);
    position: absolute;
    border: var(--ellipse-border-size) solid var(--blue1);
    margin-bottom: 40px;
}

#base1 {
    height: var(--inner-ellipse-height);
    width: var(--inner-ellipse-width);
    border-radius: 50%;
    background: var(--blue3);
    top: calc(var(--ellipse-pos-top) + (var(--ellipse-height) + 2 * var(--ellipse-border-size) - (var(--inner-ellipse-height) + 2 * var(--inner-ellipse-border-size))) / 2);
    right: calc(var(--ellipse-pos-right) + (var(--ellipse-width) + 2 * var(--ellipse-border-size) - (var(--inner-ellipse-width) + 2 * var(--inner-ellipse-border-size))) / 2);
    position: absolute;
    border: var(--inner-ellipse-border-size) solid white;
}

from, method {
    text-align: center;
    width: 170px;
    position: absolute;
    right: 6px;
    top: 8px;
}

method {
    top: 50px;
}

#basicStage {
    position: relative;
    top: 32px;
}

#methodIcons {
    float: left;
    width: 183px;
    left: 45px;
    top: 11px;
    position: relative;
}

#methodIcons img {
    height: 28px;
    margin-left: 6px;
    margin-bottom: 5px;
    filter: brightness(0.9);
}

.enabled {
    filter: brightness(0) !important;
}

#methodIcons img:last-child {
    margin-right: 27px;
}

@media screen and (max-width: 1170px) {
    #pokeball0, #pokeball1, #pokeball2, #pokeball3, #base0, #base1, .pkmnImg, stats, description {
      margin: auto;
      left: 0;
      right: 0;
    }
    stats, description {
        position: relative;
        top: unset;
        margin-top: 47px;
        display: block;
    }
    description {
        margin-top: 612px;
    }

    stats {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 770px) {
    evolution {
        top: 160px;
    }
    :root {
        --pokeball-pos-top: 270px;
    }
    description {
        margin-top: 727px;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --pokeball-size: 240px;
        --inner-pokeball-size: 210px;
        --pokeball-button-size: 78px;
        --pokeball-strip-proportion: 45%;

        --pokeball-pos-top: 270px;
        --pokeball-pos-right: 150px;

        --strip-height: 120px;
        --strip-border-size: 12px;

        --ellipse-width: 300px;
        --ellipse-height: 36px;
        --ellipse-border-size: 3.6px;
        --inner-ellipse-width: 240px;
        --inner-ellipse-height: 24px;
        --inner-ellipse-border-size: 1.8px;

        --pokemon-pokeball-distance: -60.6px;
        --pokemon-size: 360px;

        --ellipse-pokeball-distance: 243px;
    }

    description {
        margin-top: 540px;
    }

    name {
        padding-left: 40px;
        width: 340px;
    }

    #formicons {
        margin-left: 16px;
    }

    #type0 {
        left: 288px;
    }

    #typeShadow0 {
        left: 293px;
    }

    #type1 {
        left: 259px;
    }

    #typeShadow1 {
        left: 264px;
    }
}

@media screen and (max-width: 360px) {
    :root {
        --pokeball-size: 168px;
        --inner-pokeball-size: 147px;
        --pokeball-button-size: 54.6px;
        --pokeball-strip-proportion: 45%;

        --pokeball-pos-top: 270px;
        --pokeball-pos-right: 150px;

        --strip-height: 84px;
        --strip-border-size: 8.4px;

        --ellipse-width: 210px;
        --ellipse-height: 25.2px;
        --ellipse-border-size: 2.52px;
        --inner-ellipse-width: 168px;
        --inner-ellipse-height: 16.8px;
        --inner-ellipse-border-size: 1.26px;

        --pokemon-pokeball-distance: -42.42px;
        --pokemon-size: 252px;

        --ellipse-pokeball-distance: 170.1px;
    }

    description {
        margin-top: 452px;
    }

    name {
        padding-left: 30px;
        width: 270px;
    }

    #formicons {
        margin-left: 6px;
    }

    #type0 {
        left: 228px;
    }

    #typeShadow0 {
        left: 233px;
    }

    #type1 {
        left: 199px;
    }

    #typeShadow1 {
        left: 204px;
    }
}